@import url(header.css);
@import url(main_home.css);
@import url(footer.css);
@import url(signup.css);

:root {
    --yellow: #EAC926;
    --blue: #03264C;
    --light_blue: #1259c3;
    --dark_gray: #666;
    --medium_gray: rgb(160, 160, 160);
    --light_gray: #ebebeb;
    --green: #39b54a;

    --p: 12px;
    --p_line: 8px;
    --title: 24px;
    --title_f: 18px;
    --price: 18px;
    --discount: 16px;
    --description: 16px;

  }


*{
    padding: 0;
    margin: 0;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;  
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: var(--p); 
}

body {
  background-color: var(--light_gray);
}

